<div id="user-signup" class="user-prompt col-xs-4">

  <%= render partial: "layouts/errors" %>

  <form action="<%= session_url %>" method="POST" class="form">
    <fieldset>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <input id="user_username" type="text" name="user[username]" value="<%= @user.username %>" placeholder="username" class="form-control"/>
      </div>
      <div class="form-group">
        <input id="user_password" type="password" name="user[password]" value="<%= @user.password %>" placeholder="password" class="form-control"/>
      </div>
      <input type="submit" value="Sign In" class="btn btn-primary"/>
      <%= link_to "Need to sign up", new_user_url %>
    </fieldset>
  </form>
</div>
