<div class="user-info jumbotron">
  <div class="row">
    <div class="user-photo col-xs-4">
      <div class="img-thumbnail">
        <% if @user.photo_url%>
          <%= image_tag @user.photo_url %>
        <% else %>
          <%= image_tag("missing.png")%>
        <% end %>
      </div>
    </div>
    <div class="user-details col-xs-6">
      <h2><%= @user.username %></h2>
      <h4><a href="mailto:<%= @user.email %>"> <%= @user.email %></a></h4>
      <p><%= @user.description %></p>
      <%= link_to "Edit My Profile", edit_user_url(@user) %>
    </div>
  </div>
</div>