
<a href="#/shoes/new">Add a Review</a>

<div class="row">
  <% shoes.each(function(shoe){ %>
  <div class="col-xs-4">

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= shoe.escape("name") %></h3>
        </div>
        <div class="panel-body">
          <a href="#/shoes/<%= shoe.get("id") %>">
            <img src="<%= shoe.escape("shoe_photo") %>" class="img-responsive"/>
          </a>
        </div>
        <div class="panel-footer">
            <% var a = new Date(shoe.escape("updated_at")); %>
            Reviewed by: <%= shoe.attributes["author"]["username"] %>, on: <%= a.toLocaleDateString() %>

        </div>
      </div>

  </div>
  <% }) %>
</div>

<div id="page" class="Kicks Reviews"></div>