<div class="row">
  <div class="col-xs-9">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= shoe.escape("name") %> by <a class="author-page" href="<%= shoe.author_url %>"><%= shoe.author %></a></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          <img src="<%= shoe.escape("shoe_photo") %>" class="img-responsive"/>
        </div>
        <div class="col-xs-7">
          <%= shoe.escape("review") %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-5">
  <!-- Button trigger modal -->
  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#new-comment-modal">
    Add Comment
  </button>
    <ul>
    <% shoe.comments().each(function(comment){ %>
      <li>
        <%= comment.escape("content") %>
        by <%= comment.escape("username") %>
      </li>
      <button class="btn btn-link" data-toggle="modal" data-target="#reply-comment-modal">
        reply to comment
      </button>
    <% }) %>
    </ul>
  </div>
</div>

<div id="new-comment-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <div class="form-group row">
        <div class="col-lg-12">
          <form id="add-comment-form">
          <% var user_id = $("#current_user").attr("class"); %>
          <input type="hidden" name="comment[comments_by]" value="<%= user_id %>" />
          <input type="hidden" name="comment[comments_by]" value="<%= user_id %>" />
          <input type="hidden" name="comment[model]" value="shoe" />

          <input type="hidden" name="comment[model_id]" value="<%= shoe.get("id") %>" />
          <textarea class="form-control" rows="4" name="comment[content]"></textarea>
          <br/>
          <button type="button" class="btn btn-default btn-sml" data-dismiss="modal">Close</button>
          <button type="reset" class="btn btn-default btn-sml">Reset</button>
          <input id="save-comment" type="submit" class="btn btn-primary btn-sml" value="Submit"/>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div id="reply-comment-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <div class="form-group row">
        <div class="col-lg-12">
          <form id="reply-comment-form">
          <textarea class="form-control" rows="4" name="comment[content]"></textarea>
          <br/>
          <button type="button" class="btn btn-default btn-sml" data-dismiss="modal">Close</button>
          <button type="reset" class="btn btn-default btn-sml">Reset</button>
          <input id="save-comment" type="submit" class="btn btn-primary btn-sml" value="Submit"/>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


