<!DOCTYPE html>
<html>
<head>
  <title>KicksMix</title>
  <link rel="shortcut icon" href="" />
  <%= stylesheet_link_tag 'application' %>
  <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css" medial="screen" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="application/json" id="bootstrapped_current_user_json">
    { "current_user": <%= get_current_user.to_json.html_safe %> }
  </script>
</head>
<body>
  <div class="container-fluid">
    <div id="current_user" class="<%= get_current_user.nil? ? 0 : get_current_user.id %>"> </div>
    <div class="row">
      <div class="col-xs-12">

      <div class="navbar-collapse collapse navbar-responsive-collapse">
<!--
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
-->
        <ul class="nav navbar-nav navbar-right">
          <li><a id="AllKicks" href="/">all kicks</a></li>
          <%= render partial: "layouts/addshoes" %>
          <li><a id="Editors" href="/editors">posters</a></li>
          <!-- <li><a id="About Us" href="/about_us">About Us</a></li> -->
          <%= render partial: "layouts/user" %>
        </ul>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%#= image_tag("kicks-mix-logo.png", class: "top_logo") %>

        </a>
      </div>
    </div>
    <div>
        <%= yield %>


    </div>
  </div>
</body>
</html>
